@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Azeret Mono", monospace;
}

/* hero section styles starts here */
.hero-section {
  width: 100%;
  height: 652px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/Hero-bg.png");
}

.hero-container {
  width: 70%;
  height: 582px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
}

.hero-container > h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 37px;
  font-weight: 800;
}
.hero-container > p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
}

.hero-button-container > button {
  width: 243px;
  height: 66px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  border: none;
  padding: 21px 24px 21px 24px;
  color: white;
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
/* hero section styles ends here */

/* why webdev section styles starts here */

.why-webdev {
  width: 95%;
  height: 1395px;
  /* border: 2px solid blue; */
  margin: 0 auto;
  margin-top: 70px;
}

.why-webdev-head {
  width: 75%;
  height: 115px;
  /* border: 2px solid red; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  text-align: center;
}

.why-webdev-head > h1 {
  font-size: 32px;
  font-weight: 800;
}

.why-webdev-head > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.why-webdev-content-box-container {
  width: 100%;
  height: 1230px;
  /* border: 2px solid black; */
  margin-top: 70px;

}

.why-webdev-content-box {
  width: 80%;
  height: 369px;
  margin: 0 auto;
  /* margin-top: 40px; */
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;

}

.why-webdev-content-box-text {
  width: 45%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:start;
  gap: 16px;
}

.why-webdev-content-box-text > h3{
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.why-webdev-content-box-text > p{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}


.why-webdev-content-box-text > button{
  width: 150px;
height: 48px;
font-size: 20px;
font-weight: 600;
font-family: Azeret Mono;
}

.why-webdev-content-box-img {
  width: 30%;
  margin-top: 50px;
  /* border: 2px solid blue; */
}
/* why webdev section styles ends here */


/* inspiration section styles starts here */

.inspiration{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
}

.inspiration-text-container{
  /* border: 2px solid red; */
  width: 60%;
}

.inspiration-text-container h1{
  margin-bottom: 24px;
  font-size: 32px;
font-weight: 800;
line-height: 37px;
}

.inspiration-text-container p{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.inspiration-video-container{

}

.inspiration-video-container iframe{
border-radius: 16px;
}

/* inspiration section styles ends here */
